/* >>>>>> Стилизация основных стилей (границы, цвет, шрифт) <<<<<< */

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;
    background-color: $general_background_color;
    position: relative;
    z-index: 1000;
}

header div {
    padding: 50px;
}

body {
    text-align: center;
    color: rgb(54, 56, 58);
    background-color: rgb(220, 220, 220);
    margin-bottom: 15px;
    font-family: $font_opensans;
}

body div {
    //border: 1px solid rgb(79, 226, 79);
    margin: 0;
    background-color: rgb(255, 255, 255);
}

footer {
    margin-bottom: 70px;
}

h4 {
    margin-bottom: 1px;
    font-size: 20px;
    margin-top: 10px;
}

h3 {
    font-size: 24px;
}

p {
    margin: 0px;
    font-size: 15px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 13px;
}

/* >>>>>>Кнопки<<<<<< */

.button {
    font-size: 14px;
    color: $white_color;
    font-weight: 500;
    text-decoration: none;
    padding: 4px;
    border-radius: 3px;
    background: $general_button_color;
    //box-shadow: 0 -3px rgb(104, 235, 169) inset;
    transition: 0.2s;
}

.button:hover {
    background: $shadow_green_hover;
}

.button_sales:active {
    background: rgb(48, 95, 71);
    box-shadow: 0 3px $hover_green_button inset;
}

.button_non {
    font-size: 14px;
    //margin: 0px;
    //color: white;
    //font-weight: 700;
    //text-decoration: none;
    //padding: 5px 40px;
    //border-radius: 3px;
    //background: rgb(76, 221, 144);
    //box-shadow: 0 -3px rgb(104, 235, 169) inset;
    //transition: 0.2s;
    //overflow: hidden;
    color: $white_color;
    font-weight: 500;
    text-decoration: none;
    padding: 4px;
    border-radius: 3px;
    background: $general_button_color;
    //box-shadow: 0 -3px rgb(104, 235, 169) inset;
    transition: 0.2s;
}

.button_non:hover {
    background: rgb(5, 158, 82);
}

.button_non:active {
    background: rgb(48, 95, 71);
    box-shadow: $hover_green_button;
}
