/* >>>>>> Стилизация nav-footer <<<<<< */

.nav-footer .nav-top-footer {
    border-radius: 5px;
    color: black;
    background-color: $white_color;
    display: flex;
    justify-content: center;
    margin: 1px;
    margin-top: 10px;
    padding: 0;
    list-style: none; /* убираем маркеры */
    border-radius: 5px 5px 0 0;
}

.nav-top-footer a {
    font-family: $font_opensans;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    padding: 20px 20px;
    text-decoration: none;
    color: $nav_font_gray;
}

.nav-bottom-footer a {
    font-family: $font_opensans;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    padding: 20px 20px;
    text-decoration: none;
    color: $nav_font_gray;
}

.logo {
    margin-right: auto;
}
  
.phone {
    margin-left: auto;
}

/* Стилизация nav_bottom_footer */

.nav-footer .nav-bottom-footer {
    border-radius: 5px;
    color: black;
    background-color: $white_color;
    display: flex;
    justify-content: center;
    margin: 1px;
    padding: 0;
    list-style: none; /* убираем маркеры */
    border-radius: 0 0 5px 5px;
}

.nav-bottom-footer a {
    font-family: $font_opensans;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    padding: 20px 20px;
    text-decoration: none;
    color: $nav_font_gray;
}

.nav-bottom-footer a {
    font-family: $font_opensans;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    padding: 20px 20px;
    text-decoration: none;
    color: $nav_font_gray;
}


/* Стилизация наведения курсора */


.nav-top-footer a:hover {
    height: 100%;
    box-shadow: 0 0 30px $shadow_green_hover;
    background-color: $general_button_color;
    transition: 1s; /* время на взаимодействие при наведении */
    border-radius: 5px;
}

.nav-bottom-footer .logo:hover,
.nav-bottom-footer .phone:hover {
    height: 100%;
    background-color: $general_button_color;
    box-shadow: 0 0 30px $shadow_green_hover;
    transition: 1s; /* время на взаимодействие при наведении */
    border-radius: 5px;
}





















/*
.nav_footer .nav_bottom_under {
    border-radius: 0 0 5px 5px; 
    color: $nav_font_gray;
    background-color: $white_color;
    display: flex;
    justify-content: center;
    margin: 1px;
    padding: 0;
    list-style: none;
    
}

.nav_bottom_under_list {
    
}

.nav_bottom_under_item {
    display: flex;
    justify-content: space-between;
    color: $nav_font_gray;
    margin: auto;
}

.nav_bottom_logo a {
    font-size: 14px;
    font-weight: 600;
    color: $nav_font_gray;
    text-align: center;
    text-decoration: none;
    margin: auto;
    align-items: center;
}

.nav_bottom_policy p {
    text-align: center;
    margin: auto;
    font-weight: 600;
}

.nav_bottom_social a {
    font-size: 14px;
    font-weight: 600;
    color: $nav_font_gray;
    list-style: none;
    margin: auto;
    padding-left: 0;
    text-decoration: none;
}
*/










