/* >>>>>> Стилизация nav-main <<<<<< */

.nav-main .nav-top-main {
  color: black;
  background-color: $white_color;
  display: flex;
  justify-content: center;
  margin: 1px;
  padding: 0;
  list-style: none; /* убираем маркеры */
  border-radius: 5px 5px 0 0;
}

.nav-main .nav-bottom-main {
  color: black;
  background-color: $white_color;
  display: flex;
  justify-content: center;
  margin: 1px;
  padding: 0;
  list-style: none; /* убираем маркеры */
  border-radius: 0 0 5px 5px;
}

.nav-top-main a {
  font-family: $font_opensans;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  padding: 20px 20px;
  text-decoration: none; /* убираем ссылку */
  color: $nav_font_gray;
}

.nav-bottom-main a {
  font-family: $font_opensans;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  padding: 20px 20px;
  text-decoration: none; /* убираем ссылку */
  color: $nav_font_gray;
}

.nav-top-main a:hover {
  height: 100%;
  box-shadow: 0 0 30px $shadow_green_hover;
  background-color: $general_button_color;
  transition: 1s; /* время на взаимодействие при наведении */
  border-radius: 5px;
}

.nav-bottom-main a:hover {
  height: 100%;
  box-shadow: 0 0 30px $shadow_green_hover;
  background-color: $general_button_color;
  transition: 1s; /* время на взаимодействие при наведении */
  border-radius: 5px;
}

