/* >>>>>> Стилизация promo <<<<<< */

.take_action {
  border-radius: 5px;
  margin-bottom: 10px;
}

.take_action:hover {
  box-shadow: 0 0 30px $shadow_green_hover;
}

.manage-mortgage-wrap {
  background-color: $white_color;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.manage_mortgage:hover {
  box-shadow: 0 0 30px $shadow_green_hover;
}

.comfort li {
  text-align: left;
}

.info-list {
  text-align: left;
}

//Не желательно использовать заглавные буквы в создании классов

.NextStep {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas: "a b";
  align-items: stretch;
  border: none;
  height: 160px;
  margin-top: 20px;
}

.Acolumn a {
  grid-area: a;
}

.Bcolumn {
  grid-area: b;
}

.right div:last-child {
  height: 150px;
}
