//Здесь создаем переменные для проекта

//fonts
$font_opensans: "Open Sans", sans-serif;

//color
//$general_promo_color:
$general_button_color: #53b374;
$general_button_color2: rgba(77, 201, 71, 0.631);
$white_color: #fff;
$general_background_color: rgb(220, 220, 220);
$shadow_green_hover: #21a038;
$hover_green_button: #408c5b;
$nav_font_gray: #737476;

//style
